[Unit]
Description=Power Management Daemon
Before=network-pre.target

[Service]
ExecStart=/home/jan/mmm/env/bin/python /usr/local/bin/power_button_daemon.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
