[Unit]
Description=Power Management Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/power_button_daemon.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target
